<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @town.name %>
</p>

<p>
  <strong>State:</strong>
  <%= @town.state %>
</p>

<p>
  <strong>Description:</strong>
  <%= @town.description %>
</p>

<p>
  <strong>Latitude:</strong>
  <%= @town.latitude %>
</p>

<p>
  <strong>Longitude:</strong>
  <%= @town.longitude %>
</p>

<p>
  <b>Attractions in <%= @town.name %>:</b>
    <ol>
      <% for attraction in @attractions %>
        <li><%= attraction.name %> - <%= attraction.street %></li>
      <% end %>
    </ol>
    <%= image_tag @town.create_map_link %>
  </p>
<%= link_to 'Edit', edit_town_path(@town) %> |
<%= link_to 'Back', towns_path %>
