<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @attraction.name %>
</p>

<p>
  <strong>Street:</strong>
  <%= @attraction.street %>
</p>

<p>
  <strong>Town:</strong>
  <%= @attraction.town_id %>
</p>

<p>
  <strong>Latitude:</strong>
  <%= @attraction.latitude %>
</p>

<p>
  <strong>Longitude:</strong>
  <%= @attraction.longitude %>
</p>

<%= link_to 'Edit', edit_attraction_path(@attraction) %> |
<%= link_to 'Back', attractions_path %>
